Makefile
Makefile.in
aclocal.m4
configure
missing
depcomp
install-sh
libtool
ltmain.sh
stamp-h1
autom4te.cache
config.status
config.guess
config.sub
config.log
config.h
config.h.in
*.o
*.lo
*.la
.deps
.libs
cinelerra-cvs-current.spec
cinelerra-4*
